
.header{
    background-color: #415a77;
}

#obj{
    background-color: #8d99ae;
}

#edu{
    background-color: #8d99ae;
}

#Projects{
    background-color: #8d99ae;
}
#Intern{
    background-color: #8d99ae;
}
#tech{
    background-color: #8d99ae;
}
#cwm{
    background-color: #8d99ae;
}